@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family: 'Roboto', sans-serif !important;
}
.tk_search {
    margin: 0 0 0 26px;
}

.tk_search a, .tk_search input {
    display: inline-block;
    vertical-align: middle;
}

.tk_search_txt {
    width: 99px;
    height: 22px;
    border: 1px solid #BABABA;
    line-height: 24px;
    border-radius: 12px;
    background-color: transparent;
    padding: 0 12px;
    margin: 0 10px 0 0;
}

input.tk_search_txt::-webkit-input-placeholder {
    color: #AFAFAF;
    text-align: center;
}

input.tk_search_txt:-moz-placeholder {
    color: #AFAFAF;
    text-align: center;
}

input.tk_search_txt::-moz-placeholder {
    color: #AFAFAF;
    text-align: center;
}

input.tk_search_txt:-ms-input-placeholder {
    color: #AFAFAF;
    text-align: center;
}

/*===========汤米妮琪单品页样式===========*/
.w1110 {
    width: 1110px;
    margin: 0 auto;
}

.tk_header {
    position: relative;
}

.tk_logo {
    padding: 10px 0 0 0;
    margin: 0 38.5px;
}

.tk_nav li {
    float: left;
    margin-left: 10px;
}

.tk_nav_name {
    width: 113px;
    text-align: center; /* padding:0 px; */
    position: relative;
    bottom: -1px;
    z-index: 99; /* border:1px solid transparent; border-top:0;*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.tk_nav_name a {
    font-size: 13px;
    line-height: 58px;
    color: #666666;
}

.tk_nav li.tk_cur_nav .tk_nav_name {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}

.tk_nav li.tk_cur_nav .tk_nav_name a {
    color: #FF8212;
}

.tk_nav_sort {
    width: 1072px;
    position: absolute;
    left: 0;
    z-index: 98;
    padding: 20px 18px 0;
    border: 1px solid #E0E0E0;
    background-color: #fff; /*  box-sizing:border-box; -moz-box-sizing:border-box; */ /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.tk_subnav {
    padding: 0 83px 20px 0;
    float: left;
}

.tk_subnav_lastchild {
    padding-right: 0;
}

.tk_subnav_caption {
    overflow: hidden;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #E0E0E0;
}

.tk_subnav_caption strong {
    display: block;
    float: left;
    font-size: 16px;
    width: 83px;
    color: #323232;
    font-weight: bold;
}

.tk_subnav_detail {
    padding: 13px 0 0 0;
}

.tk_subnav_item {
    width: 83px;
    float: left;
}

.tk_subnav_item_lastchild {
    padding-right: 0;
    width: auto;
}

.tk_subnav_item span {
    display: block;
    padding: 0 0 5px 0;
    color: #323232;
    font-size: 14px;
}

.tk_cart { /* padding:8px 50px 0 0; */
    position: relative;
    padding-top: 8px;
    width: 115px;
    margin-left: 10px;
}

.tk_nav_txt a:hover {
    color: #8c8c8c;
}

.tk_shopcart span {
    /*     display: block; */
    width: 13px;
    height: 3px;
    border-radius: 3px;
    background-color: #FF8315;
    position: absolute;
    left: 9px;
    top: 9px;
    margin-left: 43.5px;
}

.tk_shopcart {
    margin: 10px 0 0 0;
    position: relative;
    padding: 0 43.5px;
}

#tk_nav_category a {
    color: #666666;
}

#tk_nav_category a:hover {
    color: #8c8c8c;
}

.tk_account_btn a {
    background-color: #B8B7BD;
    color: #323232;
}

.tk_account_btn a :hover {
    background-color: #ff9933;
    color: #FFFFFF
}
.footerMenu ul li {
    height: auto;
    line-height: 26px;
    font-size: 15px;
}

#header_link {
    background-color: #FFFDEE;
}

.hl_header_link {
    padding: 10px 0;
}

.hl_header_link li {
    float: left;
    margin-right: 46px;
}

#parameter2 li {
    line-height: 22px;
}

.root61 .p-parameter-list li {
    width: 240px;
}

.p-parameter-list li {
    width: 225px;
    padding-left: 0px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    text-overflow: ellipsis;
}

.detail_attributes {
    padding: 10px 0px 0px -12px;
    width: 860px; /*margin:0 auto;*/
}

.detail_attributes li {
    line-height: 26px;
    font-size: 13px;
}

.reruletBigBox {
    position: relative;
    width: 200px;
    min-width: 30px;
}

.reruletBox {
    cursor: pointer;
    text-align: left;
    padding-right: 5px;
    padding-top: 6px;
}

.reruletBox span {
    text-align: left;
    color: #000;
    font-size: 12px;
}

/* .bar_code_pic{display:true} */
#target {
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto';
    padding: 20px 0 20px 6px;
    background: #ECEBEB;
}

#target strong {
    color: #900;
    font-weight: bold;
    font-family: 'Roboto';
}

#target span {
    font-size: 14px;
}

#date {
    color: #fc3;
    font-size: 0.6em;
    font-family: 'Roboto';
    font-weight: bold;
}

.pro_original_price {
    color: #F30;
}

.show {
    vertical-align: bottom;
    display: inline-block;
}

.smghd {
    vertical-align: bottom;
    display: none;
}

.tk_suit_buyBtn button {
    background-color: #B8B7BD;
    color: #323232;
}

.tk_addtoCart a {
    background-color: #B8B7BD;
    color: #323232;
    padding: 10px 15px;
}

.tk_suit_buyBtn button:hover {
    background-color: #ff9933;
    color: #FFFFFF
}

.tk_addtoCart a:hover {
    background-color: #ff9933;
    color: #FFFFFF
}
.yb_floor_con1 {
    width: 1110;
    margin: 0 auto;
    border: 1px solid #B2B2B2;
    margin-top: 8px;
    /*   padding: 0 12px 12px */
}

.clearfix1:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.tk_pro_salePrice {
    margin-bottom: 8px;
    padding: 6px 0 0 10px;
    color: #323232;
    font-size: 20px;
    font-weight: bold;
}

/* .tk_pro_salePrice em{color:#Fd8427;font-weight:bold;font-style:normal;} */
.tk_pro_marketPrice {
    margin-bottom: 8px;
    padding: 0 0 0 10px;
    color: #707070;
    font-size: 14px;
}

.tk_pro_marketPrice span {
    text-decoration: line-through;
}

.tk_single_proimg {
    margin: 0 0 18px 0px;
    position: relative; /* overflow:hidden; */
}

.tk_proimg_item {
    position: absolute; /* left:6px */;
    top: 0;
}

.tk_single_prosort {
    text-align: right;
    margin: 0 0 20px 0;
}

.tk_single_prosort span {
    margin: 0 4px;
    cursor: pointer;
}

.tk_single_prosuit {
    position: relative;
}

.tk_prosuit_con {
}

.tk_prosuit_con li {
    float: left;
    margin: 0 0 0 12px;
    width: 260px;
    height: 356px;
    font-size: 15px;
}

.tk_pro_img {
    margin-bottom: 8px;
    height: auto;
}

.tk_single_prosort img {
    display: inline-block;
}


.tk_sorting_item {
    width: 230px;
    padding: 20px 15px 5px;
    border: 1px solid #E0E0E0;
    margin: 0 0 20px 0; /* box-sizing: border-box; */
}

.tk_sorting_item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #323232;
}

.tk_sorting_box {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 9px;
}

.tk_sorting_box:last-child {
    border-bottom: 0;
}

.tk_sorting_list {
    margin-bottom: 16px;
}

.tk_sorting_list p {
    margin-bottom: 6px;
    cursor: pointer;
}

.tk_sorting_list p a {
    color: #707070;
}

.tk_sorting_list p i {
    font-size: 16px;
    color: #707070;
}

.tk_sorting_list li {
    padding: 8px 0 8px 30px;
    font-size: 16px;
}

.tk_sorting_list li:last-child {
    padding-bottom: 0;
}

.tk_sorting_list li a {
    display: block;
}

.tk_sel_status {
    text-decoration: underline;
    color: #323232;
}

.tk_sorting_list a:hover {
    color: #323232;
}

.no_set {
    color: #707070;
}

.index_focus {
    width: 100%;
    position: relative;
}

.index_focus .focus_pic {
    width: 100%;
    overflow: hidden;
}

.index_focus .focus_pic li {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.index_focus .focus_pic li img {
    width: 100%;
    vertical-align: middle;
}

.index_focus .focus_btn {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    text-align: center;
}

.focus_btn ul {
    overflow: hidden; /* text-align: center;display: inline-block; */
    width: 57px;
    margin: 0 auto;
}

.index_focus .focus_btn li {
    width: 13px;
    height: 13px;
    background: #eaeaea;
    display: block;
    float: left;
    margin: 0 3px;
    cursor: pointer;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.index_focus .focus_btn li.active {
    background: #f2972c;
}

.focus_pic ul {
    position: relative;
}

.focus_left, .focus_right {
    width: 40px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    display: none;
}

.focus_btn ul li {
    float: left;
}